#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 2em;
    padding: 0.5em 0 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* vertical align icons in legend nodes */
legend > i {
  vertical-align: baseline !important;
}
      

div.pod-toolbar {
  visibility: hidden;
  position: absolute;
  right: 1.2em;
  top: 0;
}

.pod-toolbar-parent {
  border-bottom: 1px dotted #CCC;
}
.pod-toolbar-parent:Hover {
  background-color: #EFEFEF;
}
.pod-toolbar-parent:Hover > div.pod-toolbar {
  visibility: visible;
}
.pod-status {
  position: absolute;
  width: 1.2em;
  text-align: center;
  right: 0;
  top: 0;
}

.pod-item-nb-sup-block {
  color: #3a87ad;
  font-weight: bold;
}

h3:Hover div.pod-toolbar {
  visibility: visible;
}

.pod-blue {color: #3a87ad !important; }
.pod-red {color: #F00 !important; }
.pod-grey {color: #999 !important; }
.pod-dark-grey {color: #333333 !important; }


body { padding-top: 60px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/*
##########################
##
## HERE COMES THE FULLSCREEN CODE FOR RICH TEXT EDITING
##
## FIXME - D.A. - 2013-11-13 - This code is testing, to remove later
*/
.full-size-overlay {
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:2001 !important;
  background-color:white;

  padding: 0.5em 0.5em 0.5em 0.5em;
  
  filter: alpha(opacity=95); /* internet explorer */
  -khtml-opacity: 0.95;      /* khtml, old safari */
  -moz-opacity: 0.95;       /* mozilla, netscape */
  opacity: 0.95;           /* fx, safari, opera */
}

.full-size-overlay-inner {
  margin: 0.5em 1em 0.5em 0em;
  overflow: auto;
  max-height: 90%;
}


tr:Hover td div.pod-toolbar {
  visibility: hidden;
}
tr:Hover td div.pod-toolbar {
  visibility: visible;
}

.pod-status-grey-light  { background-color: #DDD; }
.pod-status-grey-middle { background-color: #BBB; }
.pod-status-grey-dark   { background-color: #AAA; }
.pod-status-active      { background-color: #FEE; }

.pod-rich-text-zone {
  overflow:auto;
  min-height:3em;
  max-height: 10%;
  border: 1px solid #CCC;
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
  background-color: white;
}

.pod-table-editor, .pod-table-editor td {
  border: 1px solid #CCC;
  padding: 0.5em;
  margin: 0.5em;
}

.pod-input-like-shadow {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.pod-input-like-shadow:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.navbar .nav > li > a.pod-do-not-display { display: none; }

/* SEARCH RESULTS SCREEN */

div.search-result-item > h5 {
  margin-bottom: 0;
}

ul.nav-tabs li.active > a { background-color: #efefef; }
div.tab-pane > h4 { background-color: #efefef; padding: 0.5em; margin: 0 0 0.5em 0;}

/* Admin form select */

#sx_users { height: 250px; }
